<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel test suite" parallel="false" thread-count="3">
<test name="Firefox Test">
    <parameter name="browser" value="Firefox" />
    <classes>
        <class name="assetreport.tripreport" />
    </classes>
</test>
<test name="Chrome Test">
    <parameter name="browser" value="Chrome" />
    <classes>
        <class name="assetreport.tripreport" />
    </classes>
</test>
</suite>
